@media (min-width: 1920px){
    .wheel1-19 {
        object-fit: scale-down;
        position: relative;
        top: -198px;
        left: -15%;
        height: 112px;
    }
    .wheel2-19 {
        object-fit: scale-down;
        position: relative;
        top: -198px;
        left: 13.5%;
        height: 112px;
    }
    .wheel1-21 {
        object-fit: scale-down; 
        position: relative;
        top: -198px;
        left: -14.5%;
        height: 122px;
    }
    .wheel2-21 {
        object-fit: scale-down; 
        position: relative;
        top: -198px;
        left: 13%;
        height: 122px;
    }
}

@media screen and (max-width: 1024px){
    .wheel1-19 {
        top: -116px;
        left: -15.5%;
        height: 80px;
    }

    .wheel2-19{
        top: -116px;
        left: 13.5%;
        height: 80px;
    }

    .wheel1-21 {
        top: -116px;
        left: -15.5%;
        height: 85px;
    }

    .wheel2-21{
        top: -116px;
        left: 13.5%;
        height: 85px;
    }
}
@media screen and (max-width: 912px) {
    .calculator {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .vl{
        height: 0px;
    }
    .wheels {
        flex-direction: column;
    }

    .wheel1-19 {
        top: -108px;
        left: -14.5%;
        height: 80px;
    }

    .wheel2-19{
        top: -108px;
        left: 12.5%;
        height: 80px;
    }

    .wheel1-21 {
        top: -108px;
        left: -14.5%;
        height: 85px;
    }

    .wheel2-21{
        top: -108px;
        left: 12.5%;
        height: 85px;
    }
}

@media screen and (max-width: 820px) {
    .calculator {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .vl{
        height: 0px;
    }
    .wheels {
        flex-direction: column;
    }

    .wheel1-19 {
        top: -97px;
        left: -15.5%;
        height: 65px;
    }

    .wheel2-19{
        top: -97px;
        left: 13.5%;
        height: 65px;
    }

    .wheel1-21 {
        top: -97px;
        left: -15.5%;
        height: 70px;
    }

    .wheel2-21{
        top: -97px;
        left: 13.5%;
        height: 70px;
    }
}

@media screen and (max-width: 768px) {
    .calculator {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .vl{
        height: 0px;
    }
    .wheels {
        flex-direction: column;
    }

    .wheel1-19 {
        top: -90px;
        left: -14.5%;
        height: 65px;
    }

    .wheel2-19{
        top: -90px;
        left: 13.5%;
        height: 65px;
    }

    .wheel1-21 {
        top: -90px;
        left: -14.5%;
        height: 70px;
    }

    .wheel2-21{
        top: -90px;
        left: 12.5%;
        height: 70px;
    }
}

@media screen and (max-width: 540px){
    .wheel1-19 {
        top: -63px;
        left: -15.5%;
        height: 40px;
    }

    .wheel2-19{
        top: -63px;
        left: 13.5%;
        height: 40px;
    }

    .wheel1-21 {
        top: -64px;
        left: -14.5%;
        height: 45px;
    }

    .wheel2-21{
        top: -64px;
        left: 13%;
        height: 45px;
    }
}
@media screen and (max-width: 414px){
    .wheel1-19 {
        top: -50px;
        left: -14.5%;
        height: 35px;
    }

    .wheel2-19{
        top: -50px;
        left: 12.5%;
        height: 35px;
    }

    .wheel1-21 {
        top: -50px;
        left: -13.5%;
        height: 40px;
    }

    .wheel2-21{
        top: -50px;
        left: 12.5%;
        height: 40px;
    }
}

@media screen and (max-width: 375px){
    .wheel1-19 {
        height: 36px;
        top: -47px;
        left: -13.5%;
    }

    .wheel2-19{
        height: 36px;
        top: -47px;
        left: 12.5%;
    }

    .wheel1-21 {
        height: 40px;
        top: -47px;
        left: -13.5%;
    }

    .wheel2-21{
        height: 40px;
        top: -47px;
        left: 12.5%;
    }
}

@media screen and (max-width: 280px){
    .wheel1-19 {
        top: -35px;
        left: -14.5%;
        height: 22px;
    }

    .wheel2-19{
        top: -35px;
        left: 13%;
        height: 22px;
    }

    .wheel1-21 {
        top: -35px;
        left: -14.5%;
        height: 27px;
    }

    .wheel2-21{
        top: -35px;
        left: 13%;
        height: 27px;
    }
}